<?php if ($exist = ($block->getBestSellerData())): ?>
<?php
  $type = 'widget-product-grid';

  $mode = 'grid';

  $image = '';
  $title = $block->getTitle() ? __($block->getTitle()) : '';
  $items = $block->getBestSellerData()->getItems();

  $_helper      = $this->helper('Magento\Catalog\Helper\Output');
  $_priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');

  $userLoggedIn = false;
  $customerId = '';
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $customerSession = $objectManager->create('Magento\Customer\Model\Session');
  $productBlock = $objectManager->create('Magento\Catalog\Model\Product');
  $listBlock = $objectManager->get(
    '\Magento\Catalog\Block\Product\ListProduct'
  );

  if ($customerSession->isLoggedIn()) {
    $customerId = $customerSession->getCustomer()->getId();
    $userLoggedIn = true;
  }
?>

<div class="container products-widget best-seller">
  <?php if (count($items) > 0): ?>
  <div class="row">
    <div class="col-12">
      <h3 class="module-title"><?=__($title) ?></h3>
    </div>
  </div>
  <?php endif; ?>
    <div class="products-list">
      <div class="row">
      <?php $counter = 0; foreach ($items as $_product):?>
        <?php
          $_productArray = $_product->toArray();
          $productId = $_productArray['product_id'];

          $product = $productBlock->load($productId);

          if(!$product->getEntityId()) {
            continue;
          }

          $img = $product->getImage();
          $img = $block->getMediaBaseUrl() .'catalog/product'. $product->getImage();
          if ($img === null) {
            $img = 'https://www.makeupgeek.com/content/wp-content/themes/makeup-geek/images/placeholder-square.svg';
          }

          $name = strlen($product->getName()) === 0 ? $product->getSku() : $product->getName();
        ?>
        <div class="col-12 col-sm-6 col-lg-3 list__item product product-<?=$product->getEntityId() ?>">
          <div class="item-loading"></div>
          <div class="product-image">
            <a class="item__link hidden-xs link-dynamic" data-url="<?=$block->getProductUrl($productId) ?>" data-type="product" data-id="<?=$product->getId();?>" href="<?=$block->getProductUrl($productId) ?>" title="<?=$block->escapeHtml($product->getName()) ?>"></a>
            <a class="item__link visible-xs" href="<?=$block->getProductUrl($productId) ?>" title="<?=$block->escapeHtml($product->getName()) ?>"></a>
            <div class="product-image__actions">
              <a href="javascript:void(0)" class="product-image__action product-image__action--heart disabled trigger-login"></a>
            </div>
            <a href="<?=$block->getProductUrl($productId) ?>" title="<?=$block->escapeHtml($product->getName()) ?>">
              <img class="product-image__image" src="<?=$img ?>"/>
            </a>
          </div>
          <?php  ?>
          <div class="product-item-details">
            <a href="<?=$block->getProductUrl($productId) ?>" title="<?=$block->escapeHtml($product->getName()) ?>" class="item__heading"><?= $block->escapeHtml($name) ?></a>
            <div class="price-box price-final_price" data-role="priceBox" data-product-id="<?=$product->getId() ?>">
              <?php if($product->getTypeId() === 'mpgiftcard'): ?>
                  <?php
                    $minPrice = 0;
                    $maxPrice = 0;

                    $priceRate       = (float) $product->getPriceRate();
                    $minAmount       = (float) $product->getMinAmount();
                    $maxAmount       = (float) $product->getMaxAmount();
                    $giftCardAmounts = $product->getGiftCardAmounts();

                    list($minPrice, $maxPrice) = $block->getGiftCardPrices(
                      $giftCardAmounts, $maxAmount, $minAmount, $priceRate
                    );

                    $minPriceFormatted = $_priceHelper->currency($minPrice, true, false);
                    $maxPriceFormatted = $_priceHelper->currency($maxPrice, true, false);
                  ?>
                  <p class="price-from">
                    <span class="price-container price-final_price tax weee">
                      <span class="price-label">From</span>
                      <span id="from-<?=$product->getId()?>" data-price-amount="<?=$minPrice?>" data-price-type="minPrice" class="price-wrapper">
                        <span class="price"><?=$minPriceFormatted?></span>
                      </span>
                    </span>
                  </p>
                  <p class="price-to">
                    <span class="price-container price-final_price tax weee">
                      <span class="price-label">To</span>
                      <span id="to-<?=$product->getId()?>" data-price-amount="<?=$maxPrice?>" data-price-type="maxPrice" class="price-wrapper">
                        <span class="price"><?=$maxPriceFormatted?></span>
                      </span>
                    </span>
                  </p>
              <?php else: ?>
                <p class="item__description"><?=$_priceHelper->currency($product->getPrice(), true, false) ?></p>
              <?php endif; ?>
            </div>
            <!--
            <form class="add-to-cart" data-role="tocart-form" action="< ?= $listBlock->getAddToCartUrl($product); ?>" method="post">
              < ?= $block->getBlockHtml('formkey') ? >
              <div class="btn">
                  <button type="submit" title="Add to Cart" class="action tocart primary">
                      <span>Add to Cart</span>
                  </button>
              </div>
            </form>
            <a href="#" data-post='< ?php #$this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>' class="action towishlist" data-action="add-to-wishlist">
              <span>< ?php#__('Add to Wish List') ?></span>
            </a>
            <a href="#" data-post='< ?php $this->helper('Magento\Catalog\Helper\Product\Compare')->getPostDataParams($product); ?>' class="action towishlist" data-action="add-to-wishlist">
              <span>< ?php __('Add to Compare') ?></span>
            </a>
            -->
          </div>
        </div>
      <?php endforeach; ?>
    </div>
  </div>
  <div class="see-all-products">
    <div class="row">
      <div class="col-12">
        <a href="<?= $block->getAllProductsUrl(); ?>" class="btn btn-default">All products</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <?=$block->getPagerHtml() ?>
    </div>
  </div>
</div>

<?php endif;?>